[flake8]
ignore =
    D100,
    DAR101,
    DAR201,
    DAR301,
    DAR401,
    # Missing docstring in public package
    D104,
    # Found too many module members
    WPS202,
    # Found too many imported names from a module
    WPS235,
    # Found `f` string
    WPS305,
    WPS324,
    # Found complex default value
    WPS404,
    # Found using `@staticmethod`
    WPS602,
    # Found implicit `.get()` dict usage
    WPS529,
    # Do not perform function calls in argument defaults.
    B008
